doctype html
head
  meta(charset='utf-8')
  meta(content='width=device-width, initial-scale=1.0' name='viewport')
  title feellikehome | Home
  meta(content='' name='description')
  meta(content='' name='keywords')
  // Favicons
  link(href='assets/img/favicon.png' rel='icon')
  link(href='assets/img/apple-touch-icon.png' rel='apple-touch-icon')
  // Google Fonts
  link(href='https://fonts.googleapis.com/css?family=Poppins:300,300i,400,400i,600,600i,700,700i|Satisfy|Comic+Neue:300,300i,400,400i,700,700i' rel='stylesheet')
  // Vendor CSS Files
  link(href='assets/vendor/bootstrap/css/bootstrap.min.css' rel='stylesheet')
  link(href='assets/vendor/icofont/icofont.min.css' rel='stylesheet')
  link(href='assets/vendor/boxicons/css/boxicons.min.css' rel='stylesheet')
  link(href='assets/vendor/animate.css/animate.min.css' rel='stylesheet')
  link(href='assets/vendor/venobox/venobox.css' rel='stylesheet')
  link(href='assets/vendor/owl.carousel/assets/owl.carousel.min.css' rel='stylesheet')
  // Template Main CSS File
  link(href='assets/css/style.css' rel='stylesheet')
  //

  //for bootstrap
  meta(name='viewport' content='width=device-width, initial-scale=1')
  link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css')
  script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js')
  script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js')

// ======= Top Bar =======
section#topbar.d-none.d-lg-flex.align-items-center.fixed-top.topbar-transparent
  .container.text-right
    i.icofont-phone
    |  7003930318
    i.icofont-clock-time.icofont-rotate-180
    |  Mon-Sat: 11:00 AM - 23:00 PM
    if userName
      i.icofont-user-alt-4
      |  Hello #{userName.split(' ')[0]}
// ======= Header =======
header#header.fixed-top.d-flex.align-items-center.header-transparent
  .container.d-flex.align-items-center
    .logo.mr-auto
      h1.text-light
        a(href='/')
          span feellikehome
      // Uncomment below if you prefer to use an image logo
      // <a href="home.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>
    nav.nav-menu.d-none.d-lg-block
      ul
        li.active
          a(href='/') Home
        li
          a(href='#menu') Menu
        li
          a(href='#subscription') Subscription
        // <li><a href="#events">Profile</a></li>
        //
          <li><a href="#chefs">Chefs</a></li>
          <li><a href="#gallery">Gallery</a></li>
        li
          a(href='#contact') Contact
        li
          a(href='#about') About
        if userName
          li.book-a-table.text-center
            a(href='/subscription') Subscribe a Meal
        else
          li.book-a-table.text-center
            a(href='/login') Login
        if userName
          li.book-a-table.text-center
            a(href='').logout-btn Logout
        //- else
        //-   li.book-a-table.text-center
        //-     a(href='/login').login-btn Login
    // .nav-menu
// End Header
// ======= Hero Section =======
section#hero
  .hero-container
    #heroCarousel.carousel.slide.carousel-fade(data-ride='carousel')
      ol#hero-carousel-indicators.carousel-indicators
      .carousel-inner(role='listbox')
        // Slide 1
        .carousel-item.active(style='background: url();')
          .carousel-container
            .carousel-content
              h2.animate__animated.animate__fadeInDown
                span feel like
                |  home
              p.animate__animated.animate__fadeInUp The online home made meal subscription platform
              div
                a.btn-margin-top.btn-menu.animate__animated.animate__fadeInUp.scrollto(href='#menu') Our Menu
                |
                if userName
                 a.btn-margin-top.btn-book.animate__animated.animate__fadeInUp.scrollto(href='/subscription') Subscribe a meal
                else
                 a.btn-margin-top.btn-book.animate__animated.animate__fadeInUp.scrollto(href='/login') Login to Subscribe a Meal
        // Slide 2
        .carousel-item(style='background: url();')
          .carousel-container
            .carousel-content
              h2.animate__animated.animate__fadeInDown Welcome to feellikehome.com
              p.animate__animated.animate__fadeInUp The online home made meal subscription platform
              div
                a.btn-margin-top.btn-menu.animate__animated.animate__fadeInUp.scrollto(href='#menu') Our Menu
                if userName
                  a.btn-margin-top.btn-book.animate__animated.animate__fadeInUp.scrollto(href='/subscription') Subscribe a meal
                else
                  a.btn-margin-top.btn-book.animate__animated.animate__fadeInUp.scrollto(href='/login') Login to Subscribe a Meal
      a.carousel-control-prev(href='#heroCarousel' role='button' data-slide='prev')
        span.carousel-control-prev-icon.icofont-simple-left(aria-hidden='true')
        span.sr-only Previous
      a.carousel-control-next(href='#heroCarousel' role='button' data-slide='next')
        span.carousel-control-next-icon.icofont-simple-right(aria-hidden='true')
        span.sr-only Next
// End Hero
main#main
  // ======= About Section =======
  section#about.about
    .container-fluid
      .row
        .col-lg-5.align-items-stretch.video-box(style='background-image: url("assets/img/specials-1.jpg");')
          a.venobox.play-btn.mb-4(href='https://www.youtube.com/watch?v=ZQ_pL_b6Uh4' data-vbtype='video' data-autoplay='true')
        .col-lg-7.d-flex.flex-column.justify-content-center.align-items-stretch
          .content
            h3
              | Meal delivery orders are typically on demand, 
              strong  intended to be eaten right away, and include hot, already-prepared food.
            p.font-italic
              | In addition to paying for the food, customers will often have to pay a delivery fee. The delivery fee will cover the cost of gas or other transportation costs, but usually does not go to the delivery person.
            //- p.font-italic
            //-   | Since 1995, companies such as Waiter.com have their own interfaces where customers order food 
            //-   | from nearby restaurants that have partnered with the service.
            ul
              li
                i.bx.bx-check-double
                |  We deliver hundreds of thousands of lunches to paying subscribers every workday through a system of rail and bicycle links.
              li
                i.bx.bx-check-double
                |  The lunches are sent in tiffin carriers, and are prepared in the late morning by either a restaurant or family member typically a wife for a working husband.
              li
                i.bx.bx-check-double
                |  since many families still follow traditional asymmetrical gender roles. The tiffins are then returned either in the afternoon or the next day by the same system..
            //- p
            //-   | Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
            //-   | velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
            //-   | culpa qui officia deserunt mollit anim id est laborum
  // End About Section
  // ======= Whu Us Section =======
  section#subscription.subscription
    .container
      .section-title
        h2
          | My 
          span Subscription
        //- p
        //-   | Ut possimus qui ut temporibus culpa velit eveniet modi omnis est adipisci expedita at voluptas atque vitae autem.
      .row
        .card(style='width: 18rem;')
          .card-body
            h3.card-title Lunch subscription
            p.card-text Veg Meal
            p.card-text Rs.1800
            a.btn.btn-primary#rzp-button(type='button') Pay now
        //- .col-lg-4
        //-   .box
        //-     span Lunch
        //-     h4 24/05 to 23/06
        //-     p
        //-       | Paid amount: 
        //-       | Rs. 2100
        //- .col-lg-4.mt-4.mt-lg-0
        //-   .box
        //-     span 02
        //-     h4 Repellat Nihil
        //-     p
        //-       | Dolorem est fugiat occaecati voluptate velit esse. Dicta veritatis dolor quod et vel dire leno para dest
        //- .col-lg-4.mt-4.mt-lg-0
        //-   .box
        //-     span 03
        //-     h4  Ad ad velit qui
        //-     p
        //-       | Molestiae officiis omnis illo asperiores. Aut doloribus vitae sunt debitis quo vel nam quis
  // End Whu Us Section
  // ======= Menu Section =======
  section#menu.menu
    .container
      .section-title
        h2
          | Check our lunch 
          span Menu
      //- .row
      //-   .col-lg-12.d-flex.justify-content-center
      //-     ul#menu-flters
      //-       li.filter-active(data-filter='*') Show All
      //-       li(data-filter='.filter-starters') Starters
      //-       li(data-filter='.filter-salads') Salads
      //-       li(data-filter='.filter-specialty') Specialty
      .row.menu-container
        .col-lg-6.menu-item.filter-starters
          .menu-content
            a(href='#') Veg Meal
            span Rs. 1800 per month
          .menu-ingredients
            | Roti, Rice, Dal, Sabji, Fry, Papad
        .col-lg-6.menu-item.filter-specialty
          .menu-content
            a(href='#') Non-Veg Meal
            span Rs. 2250 per month
          .menu-ingredients
            | Roti, Rice, Chicken/Egg, Dal, Salad
      .row.menu-container
        .col-lg-4
        .col-lg-4(style='margin: 5%')
          nav.nav-menu.d-none.d-lg-block
            ul
              if userName
                li.book-a-table.text-center
                  a(href='/subscription') Subscribe a Meal
              else
                li.book-a-table.text-center
                  a(href='/login') Login to Subscribe
              if userName
                li.book-a-table.text-center
                  a(href='').logout-btn Logout
      
        //- .col-lg-6.menu-item.filter-starters
        //-   .menu-content
        //-     a(href='#') Crab Cake
        //-     span Rs. 55
        //-   .menu-ingredients
        //-     | A delicate crab cake served on a toasted roll with lettuce and tartar sauce
        //- .col-lg-6.menu-item.filter-salads
        //-   .menu-content
        //-     a(href='#') Caesar Selections
        //-     span Rs. 70
        //-   .menu-ingredients
        //-     | Lorem, deren, trataro, filede, nerada
        //- .col-lg-6.menu-item.filter-specialty
        //-   .menu-content
        //-     a(href='#') Tuscan Grilled
        //-     span Rs. 90
        //-   .menu-ingredients
        //-     | Grilled chicken with provolone, artichoke hearts, and roasted red pesto
        //- .col-lg-6.menu-item.filter-starters
        //-   .menu-content
        //-     a(href='#') Mozzarella Stick
        //-     span Rs. 50
        //-   .menu-ingredients
        //-     | Lorem, deren, trataro, filede, nerada
        //- .col-lg-6.menu-item.filter-salads
        //-   .menu-content
        //-     a(href='#') Greek Salad
        //-     span Rs. 60
        //-   .menu-ingredients
        //-     | Fresh spinach, crisp romaine, tomatoes, and Greek olives
        //- .col-lg-6.menu-item.filter-salads
        //-   .menu-content
        //-     a(href='#') Spinach Salad
        //-     span Rs.65
        //-   .menu-ingredients
        //-     | Fresh spinach with mushrooms, hard boiled egg, and warm bacon vinaigrette
        //- .col-lg-6.menu-item.filter-specialty
        //-   .menu-content
        //-     a(href='#') Lobster Roll
        //-     span Rs. 75
        //-   .menu-ingredients
        //-     | Plump lobster meat, mayo and crisp lettuce on a toasted bulky roll
  // End Menu Section
  // ======= Subscription Section =======
  //- section#book-a-table.book-a-table
  //-   .container
  //-     .section-title
  //-       h2
  //-         | Send a Message to 
  //-         span Subscribe your Meal
  //-       // <p>Ut possimus qui ut temporibus culpa velit eveniet modi omnis est adipisci expedita at voluptas atque vitae autem.</p>
  //-     form.php-email-form(action='forms/book-a-table.php' method='post' role='form')
  //-       .form-row
  //-         .col-lg-4.col-md-6.form-group
  //-           input#name.form-control(type='text' name='name' placeholder='Your Name' data-rule='minlen:4' data-msg='Please enter at least 4 chars')
  //-           .validate
  //-         .col-lg-4.col-md-6.form-group
  //-           input#email.form-control(type='email' name='email' placeholder='Your Email' data-rule='email' data-msg='Please enter a valid email')
  //-           .validate
  //-         .col-lg-4.col-md-6.form-group
  //-           input#phone.form-control(type='text' name='phone' placeholder='Your Phone' data-rule='minlen:4' data-msg='Please enter at least 4 chars')
  //-           .validate
  //-         .col-lg-4.col-md-6.form-group
  //-           input#date.form-control(type='text' name='date' placeholder='Date' data-rule='minlen:4' data-msg='Please enter at least 4 chars')
  //-           .validate
  //-         .col-lg-4.col-md-6.form-group
  //-           input#time.form-control(type='text' name='time' placeholder='Time' data-rule='minlen:4' data-msg='Please enter at least 4 chars')
  //-           .validate
  //-         .col-lg-4.col-md-6.form-group
  //-           input#people.form-control(type='number' name='people' placeholder='# of people' data-rule='minlen:1' data-msg='Please enter at least 1 chars')
  //-           .validate
  //-       .form-group
  //-         textarea.form-control(name='message' rows='5' placeholder='Message')
  //-         .validate
  //-       .mb-3
  //-         .loading Loading
  //-         .error-message
  //-         .sent-message
  //-           | Your booking request was sent. We will call back or send an Email to confirm your reservation. Thank you!
  //-       .text-center
  //-         button(type='submit') Send Message
  // Subscription Section
  // ======= Contact Section =======
  section#contact.contact
    .container
      .section-title
        h2
          span Contact
          |  Us
        //- p
        //-   | Ut possimus qui ut temporibus culpa velit eveniet modi omnis est adipisci expedita at voluptas atque vitae autem.
    .map
      //- iframe(style='border:0; width: 100%; height: 350px;' src='https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12097.433213460943!2d-74.0062269!3d40.7101282!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb89d1fe6bc499443!2sDowntown+Conference+Center!5e0!3m2!1smk!2sbg!4v1539943755621' frameborder='0' allowfullscreen='')
      iframe(src='https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d7367.457715813132!2d88.37688344232788!3d22.589242197768503!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x19e4a4abee991a24!2sVinayak%20Enclave!5e0!3m2!1sen!2sin!4v1621769836341!5m2!1sen!2sin' width='100%' height='350' style='border:0;' allowfullscreen='' loading='lazy')

    .container.mt-5
      .info-wrap
        .row
          .col-lg-3.col-md-6.info
            i.icofont-google-map
            h4 Location:
            p
              | Vinayak Enclave, Block A, Flat 5A
              br
              | 41, Shimla Road, Kolkata - 700006
          .col-lg-3.col-md-6.info.mt-4.mt-lg-0
            i.icofont-clock-time.icofont-rotate-90
            h4 Open Hours:
            p
              | Monday-Saturday:
              br
              | 11:00 AM - 23:00 PM
          .col-lg-3.col-md-6.info.mt-4.mt-lg-0
            i.icofont-envelope
            h4 Email:
            p
              | contact.speksolutions@gmail.com
              //- br
              //- | contact@example.com
          .col-lg-3.col-md-6.info.mt-4.mt-lg-0
            i.icofont-phone
            h4 Call:
            p
              | 7003930318
              br
              | 8617734745
      form.send-message-form(action='/api/v2/users/sendMessage' method='post' role='form')
        .form-row
          .col-md-4.form-group
            input#name.form-control(type='text' name='name' placeholder='Your full name..' required)
            .validate
          .col-md-4.form-group
            input#email.form-control(type='email' name='email' placeholder='Your email address..' required)
            .validate
          .col-md-4.form-group
            input#phone.form-control(type="tel" name="phone" placeholder="Your mobile number.." pattern="[0-9]{10}" required)
            .validate
        //- .form-group
        .form-group
          textarea.form-control(name='message' rows='5' placeholder='Please write something for us..' required)
          .validate
        .mb-3
          .loading Loading
          .error-message
          .sent-message Your message has been sent. Thank you!
        .text-center
          button(type='submit') Send Message
  // End Contact Section
// End #main
// ======= Footer =======
footer#footer
  .container
    h3 feellikehome.com
    p The online home made meal subscription platform
    .social-links
      a.twitter(href='#')
        i.bx.bxl-twitter
      a.facebook(href='#')
        i.bx.bxl-facebook
      a.instagram(href='#')
        i.bx.bxl-instagram
      a.google-plus(href='#')
        i.bx.bxl-skype
      a.linkedin(href='#')
        i.bx.bxl-linkedin
    .copyright
      | &copy; Copyright 
      strong
        span feellikehome.com
      | . All Rights Reserved
    .credits
      // All the links in the footer should remain intact.
      // You can delete the links only if you purchased the pro version.
      // Licensing information: https://bootstrapmade.com/license/
      // Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/delicious-free-restaurant-bootstrap-theme/
      | Designed by 
      a(href='http://thespeksolutions.wordpress.com') Spek Solutions
// End Footer
a.back-to-top(href='#')
  i.icofont-simple-up
// Vendor JS Files
script(src='assets/vendor/jquery/jquery.min.js')
script(src='assets/vendor/bootstrap/js/bootstrap.bundle.min.js')
script(src='assets/vendor/jquery.easing/jquery.easing.min.js')
script(src='assets/vendor/php-email-form/validate.js')
script(src='assets/vendor/jquery-sticky/jquery.sticky.js')
script(src='assets/vendor/isotope-layout/isotope.pkgd.min.js')
script(src='assets/vendor/venobox/venobox.min.js')
script(src='assets/vendor/owl.carousel/owl.carousel.min.js')
// Template Main JS File
script(src='assets/js/main.js')
script(src='https://unpkg.com/axios/dist/axios.min.js')
script(src='js/login.js')
script(src='js/email.js')
script(src='https://checkout.razorpay.com/v1/checkout.js')
script(src='js/razorPay.js')
