doctype html
head
  title #{title}
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
  link(href='https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap' rel='stylesheet')
  link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
  link(rel='stylesheet' href='/css/style.css')
  // <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  script(src='https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js' integrity='sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ==' crossorigin='anonymous')

body.blur-bgimage
  section.ftco-section
    .container
      //
        <div class="row justify-content-center">
        <div class="col-md-6 text-center mb-5">
        <h2 class="heading-section">Login #08</h2>
        </div>
        </div>
      .row.justify-content-center
        .col-md-6.col-lg-5
          .login-wrap.p-4.p-md-5
            .icon.d-flex.align-items-center.justify-content-center
              span.fa.fa-user-o
            h3.text-center.mb-4 Login
            #login-loader.spinner-border.text-warning.dl-hide-el(style='position:absolute; left: 45%; top: 46%;')
            a(href='/signup')
              p.text-center.mb-4 
               u New user? Create an account
            form#getOtp.getOtp-form(action='#')
              .form-group
                input#email.form-control.rounded-left(type='text' style='text-align: center;' placeholder='Enter your Email' required='')
              .form-group
                button#get-otp.btn.btn-primary.rounded.submit.p-3.px-5(type='submit') Get OTP
            form#verifyOtp.verifyOtp-form.dl-hide-el(action='#')
              .form-group.d-flex
                input#otp.form-control.rounded-left(type='text' style='text-align: center;' placeholder='Enter OTP' required='')
              .form-group
                button#verify-otp.btn.btn-primary.rounded.submit.p-3.px-5(type='submit') Verify
  script(src='/js/jquery.min.js')
  script(src='/js/popper.js')
  script(src='/js/bootstrap.min.js')
  script(src='/js/main.js')
  script(src='/js/login.js')
